html, body {
  height: 100%;
  margin: 0;
}


.slide{
  height: 80vh;
  width: 100%;
  text-align: center;
}

.slider-decorator-1, .slider-decorator-0, .slider-decorator-2 {
  display: none;
}

.ui.grid>.column:not(.row) {
    padding-bottom: 0.5rem !important;
}